@import url("https://fonts.googleapis.com/css?family=Raleway");
/* General styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: auto;
  min-height: 100vh;
  background: #191919;
  font-family: 'Raleway', sans-serif;
}

/*Nav bar styling */
.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9;
  background: #1a1a1a;
}

.link-group {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link a {
  color: #f1f1f1;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 20px;
}

.link a:hover, .link.active a {
  opacity: 1;
}

.home-section {
  width: 100%;
  height: 100vh;
  padding: 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.hero-heading {
  color: #f1f1f1;
  font-size: 120px;
  text-transform: capitalize;
  font-weight: 300;
}

.home-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
}

.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
  position: relative;
  opacity: 1;
  z-index: 8;
}

/*Project-section*/
.project-section {
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px 100px;
  position: fixed;
  top: 0;
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.project-heading {
  font-size: 100px;
  background: #252525;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  color: #1a1a1a;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 8px transparent;
}

.project-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.project-card {
  height: 400px;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s;
  transition: .5s;
}

.project-content {
  position: relative;
  padding: 40px;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}

.project-title {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

.project-info {
  margin: 40px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.project-btn-grp {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project-btn {
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.project-btn.live {
  background: none;
  border: 2px solid #fff;
}

.project-card:hover .project-img {
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.project-card:hover .project-content {
  opacity: 1;
}

/* about-section */
.about-section {
  width: 100%;
  min-height: 100vh;
  padding: 150px 100px 0;
  position: fixed;
  top: 0;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.about {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 65%;
      grid-template-columns: 30% 65%;
  grid-gap: 40px;
}

.about-img-container {
  position: relative;
}

.about-info {
  color: #fff;
  opacity: 0.6;
  font-size: 20px;
  line-height: 40px;
}

.about-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

/* Open button */
/*# sourceMappingURL=style.css.map */